OPENAI_API_KEY=your_openai_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key

SERVER_HOST=localhost
SERVER_PORT=8888
DEFAULT_CHAT_MODEL=ft:gpt-4o-mini-2024-07-18:personal:chatv1:AESsNK7j

GPT_SOVITS_API_URL=http://localhost:9872/
TTS_REF_AUDIO=server/Voice/ly_refaudio.wav
TTS_AUX_REF_AUDIO=server/Voice/ly_refaudio.wav
TTS_PROMPT_TEXT=因為你身上別著星穹列車的徽章呀，我在大銀幕上見過!

GPT_WEIGHTS_PATH=server/GPT_weights/D2-e15.ckpt
SOVITS_WEIGHTS_PATH=server/SoVITS_weights/D2_e8_s120.pth

