.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example
.venv/
venv/

.idea/
.vscode/
web/.idea/

node_modules/

Output/
output.wav

server/GPT_weights/
server/SoVITS_weights/
server/Voice/
流螢-training/

*.ckpt
*.pth
*.pt
*.bin
*.onnx
*.safetensors
*.h5
*.keras
